* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Encode Sans Expanded", sans-serif;
  font-family: "Encode Sans Semi Expanded", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Ubuntu", sans-serif;
}

/* Global------------------------*/

.landing-page {
  height: 100vh;
  background: url(/Images/splash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #000000;
}

.porto {
  width: 80px;
}

.flex-dis {
  display: flex;
}

.con-end {
  justify-content: flex-end;
}

.con-mid {
  justify-content: center;
}

.con-bet {
  justify-content: space-between;
}

a {
  color: #e6e6e6;
  text-decoration: none;
  background-color: transparent;
}

h4 {
  font-size: 1.5em;
  line-height: 1.2;
  margin: 1.414em 0 0.5em;
  font-weight: 300;
}

p {
  color:#e6e6e6;
}

strong {
  color: #e6e6e6;
}

.container {
  width: 100%;
}

/* loader---------- */

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ffffff;

  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;

  z-index: 1001;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ffffff;

  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ffffff;

  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #000000;
  z-index: 1000;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);

  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);

  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
  visibility: hidden;

  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);

  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
}

/* header/ footer----------------------------*/

.container-nav, .container_footer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container,
.container_header,
.container_footer {
  transition: all 0.15s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.columns {
  width: 30%;
  transition: all 0.15s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.two.columns {
  width: 13%;
}

.three.columns {
  width: 22%;
}

.four.columns {
  transition: opacity .15 ease;
  width: 31%
}

.superfooter {
  margin-top: 4em;
  margin-bottom: 2em;
}

.superfooter .text_desc {
  color: #e6e6e6;
  margin-bottom: 4em;
  font-size: 1em;
  line-height: 1.4em;
  text-align: left;
}

.superfooter .text_desc_title {
  color: #e6e6e6;
  font-size: 0.8em;
  letter-spacing: .1em;
  line-height: 11.80px;
  font-weight: 600;
  margin-bottom: 0.8em;
  text-transform: uppercase;
  text-align: left;
}

.nav-rt {
  width: 40%;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.row-footer {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

#back2Top {
  width: 60px;
  line-height: 40px;
  overflow: hidden;
  z-index: 999;
  display: none;
  cursor: pointer;
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  position: fixed;
  bottom: 50px;
  right: 20px;
  background-color: transparent;
  color: rgb(194, 194, 194);
  text-align: center;
  font-size: 50px;
  text-decoration: none;
  transition: all .4s ease-in-out; 
}
#back2Top:hover {
  transform: rotate(270deg) scale(2);  
  color: #000;
}

/* -- burger ---------------------------- */

.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}

.line {
  fill: none;
  stroke: rgb(245, 245, 245);
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

/*--- mobile-header---------------------- */

.mobile-header {
  display: flex;
  justify-content: center;
  width: 100%;
}

.mobile-menu {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.mobile-toggle {
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
}

/* mobile-nav------------------------------ */

.mobile-nav {
  width: 100vw;
  height: 100vh;
  visibility: visible;
  display: block;
  position: fixed;
}

.mobile-nav ul {
  margin-bottom: 2.5rem;
  list-style: none;
  text-align: right;
  padding: 20px;
  margin-top: 25px;
  font-size: 20px;
}

.mobile-nav li {
  margin-bottom: 1rem;
  padding-right: 40px;
  transform: translateX(100%);
  transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition-delay: 0s;
}

.mobile-nav li:after {
  color: white;
  display: block;
  content: "—";
  position: absolute;
  top: 2px;
  right: 0;
}

.mobile-nav h4 {
  padding: 0;
  margin: 0 0 25px;
}

/* ---navigation---------------------------- */

.nav-rt {
  height: 4em;
  list-style: none;
}

.nav-rt li:hover {
  opacity: 0.25;
  transition: opacity 0.2s linear;
}

body.nav-open {
  overflow: hidden;
}
body.nav-open .container {
  transform: translateX(-100%);
  opacity: 0;
}

body.nav-open .container_header {
  transform: translateX(-100%);
  opacity: 0;
}

body.nav-open .container_footer {
  transform: translateX(-100%);
  opacity: 0;
}

body.nav-open .columns {
  transform: translatex(-100%);
  opacity: 0;
}

body.nav-open .mobile-nav {
  display: block;
}

body.nav-open .mobile-nav li {
  transform: translateX(0px);
}

body.nav-open .mobile-tag {
  transform: translateX(0px);
}

body.nav-open .mobile-nav li:nth-child(1) {
  transition-delay: 0s;
}

body.nav-open .mobile-nav li:nth-child(2) {
  transition-delay: 0.09s;
}

body.nav-open .mobile-nav li:nth-child(3) {
  transition-delay: 0.16s;
}

body.nav-open .mobile-nav li:nth-child(4) {
  transition-delay: 0.2s;
}

body.nav-open .mobile-nav li:nth-child(5) {
  transition-delay: 0.24s;
}

.nav-rt li {
  list-style: none;
  font-size: 0.75em;
  padding-left: 3em;
  margin-top: -0.25em;
  margin-bottom: 1rem;
}

/* landing page ------*/

.super_title {
  color: white;
  padding-top: 2em;
  font-size: 3em;
  line-height: 1.05em;
  text-transform: uppercase;
}

body.landing-page {
  transition: opacity 0.15s ease;
}

/* About page ------*/

.about {
  height: 100%;
  background-color: #000000;  
  background: -webkit-linear-gradient(to bottom, #000000,#23074d, #cc5333); 
  background: linear-gradient(to bottom, #000000, #23074d, #cc5333);
}

.row-main {
  display: flex;
  justify-content: center;
  width: 80%;
  margin-bottom: 4em;
}

.row-main .avatar {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  color: #bbb;
}

.row-main .avatar .image {
  width: 100%;
  height: 100%;
  border: grey;
  animation: morph 8s ease-in-out infinite 1s;
  -webkit-box-shadow: inset 0px 0px 9px 6px #FFFFFF; 
  box-shadow: inset 0px 0px 9px 6px #FFFFFF;
}

.four.columns p {
  margin-bottom: 2em;
}

.super_about {
  height: 140px;
  color: #e6e6e6;
  font-size: 2em;
  line-height: 1em;
  letter-spacing: -0.04em;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.four.columns.ln p {
  margin-bottom: 1em;
}

.four.columns ul {
  margin-top: 1em;
}

.four.columns ul li {
  list-style-type: none;
}

.four.columns ul li span {
  min-width: 90px;
  font-weight: 700;
  font-style: italic;
}

.four.columns ps p {
  margin-top: 2em;
}

.contact-btn {
  width: 80%;
  margin-top: 2em;
  border-radius: 4px;
  background-color: #ffffff;
  color: #000000;
  font-size: 1.2em;
  line-height: 1.8;
  padding: 1em 0 1em 0;
  border: 1px solid black;
  text-align: center;
}

.contact-btn:hover {
  transition: 0.3s ease;
  cursor: pointer;
  background-color: #000000;
  color: #ffffff;
  border: 1px solid rgb(255, 255, 255);
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

@media (min-width: 740px) {
  .mobile-header {
    display: none;
  }

  .mobile-nav {
    visibility: hidden;
  }
}

@media (max-width: 900px) {
  .nav-rt {
    width: 50%;
  }

  .row {
    width: 90%;
  }
}

@media (max-width: 700px) {
  .nav-rt {
    width: 60%;
  }

  .row {
    width: 90%;
  }
}

@media (max-width: 740px) {
  .container-nav {
    display: none;
  }
  .landing-page {
    height: 100vh;
    background: url(/Images/splash_mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #000000;
  }

  .row {
    width: 90%;
  }

  .superfooter .text_desc{
    font-size: 1em;
  }
}

@media (min-width: 740px) {
  .about {
    height: 100%;
  }
}

@media (min-width: 550px) {
  .con-bet {
    justify-content: space-between;
  }
}

@media (max-width: 550px) {
  .superfooter .text_desc {
    font-size: 1.2em;
  }

  .row-footer {
    display: block;
  }

  .two.columns,.three.columns,.four.columns {
    width: 100%;
  }

  .row-main {
    display: block;
    width: 90%;
  }

  .flex-dis {
    display: flex;
  }

  .contact-btn{
    width: 100%;
  }
}

